<%= form_tag search_tweets_path, id: :search_tweets_form, method: 'get' do %>
<p>
  <b>Latitude:</b>
  <%= text_field_tag 'latitude' %>
</p>

<p>
  <b>Longitude:</b>
  <%= text_field_tag 'longitude' %>
</p>

<p>
  <b>Radius:</b>
  <%= text_field_tag 'radius' %>
</p>

<p>
  <%= submit_tag 'Search' %>
</p>
<% end %>